---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin2 | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Scroll to top CSS */
#scroll-to-top {
    display: block;
    position: fixed;
    font-size: 21px;
    @media (max-width: 600px) {
        font-size: 20px;
    }
    bottom: 25px;
    right: 10%;
    @media (max-width: 600px) {
        right: 5%;
        bottom: 15px;
    }

    opacity: 0;
    z-index: 99;
    text-align: center;

    :last-child {
        transition: transform 0.7s ease-in-out;
        
        &:active, &:hover {
            transform: translateY(-10%);
        }
    }
    transform: translateY(30%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#scroll-to-top span {
    cursor: pointer;
    color: $primary-color;

    &:hover, &:active {
        .up-arrow {
            color: $text-color;
        }
    }
}
/* Scroll to top CSS End */


/* Progress Bar CSS */
#progress-bar {
    background: no-repeat linear-gradient(to right, $primary-color var(--scroll), transparent 0);
    // background: linear-gradient(to right,red, orange , yellow, green, cyan, blue, violet var(--scroll), transparent 0);
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 3px;
    z-index: 1;
}
/* Progress Bar CSS End */
